.descriptionCard {
    width: 18rem;
    height: 18rem;
    border-radius: 2em;
    transition: all 0.3s ease-in-out;
    /*background-color: #CDC1B6;*/
    box-shadow: 5px 5px 3px rgba(46, 46, 46, 0.62);
    color: #28231D;
}

.descriptionCard:hover {
    background-color: #F9F9F8;
    color: #28231D;
    transform: scale(0.95);
    box-shadow: 5px 5px 8px rgba(46, 46, 46, 0.8);
}

.descriptionCard .card-footer a {
    color: inherit; /* Ensure the link color inherits the text color */
    text-decoration: none;
}

.descriptionCard .card-footer a:hover {
    text-decoration: underline;
}

.informationCard {
    width: 18rem;
    height: 18rem;
    border-radius: 2em;
    transition: all 0.3s ease-in-out;
    box-shadow: 5px 5px 3px rgba(46, 46, 46, 0.62);
    color: #28231D;
    margin-bottom: 2rem;
}

.informationCard:hover {
    background-color: #F9F9F8;
    color: #28231D;
    transform: scale(0.95);
    box-shadow: 5px 5px 8px rgba(46, 46, 46, 0.8);
}

.informationCard .card-footer a {
    color: inherit; /* Ensure the link color inherits the text color */
    text-decoration: none;
}

.informationCard .card-footer a:hover {
    text-decoration: underline;
}



